In [2]:
#Importing Libraries
import os
import pandas as pd

In [3]:
# Alloting paths
PathP = r"C:\Study\Finance\IIMV Intern\News_posutf.csv"
PathN = r"C:\Study\Finance\IIMV Intern\News_negutf.csv"

# Reading files
Positive = pd.read_csv(PathP)
Negative = pd.read_csv(PathN)

# Displaying first 5 rows
print(Positive.head(5))
print(Negative.head(5))

        Date                                           Headline  \
0  27-Feb-23  Anheuser-Busch InBev move to local production ...
1  14-Feb-23  Walmart 'kicks back at CPG manufacturers over ...
2  15-Sep-22  H&M Group, Decathlon in new green claims commi...
3  07-Sep-22  SAC explores how to communicate green data wit...
4  18-May-22  FANUC America to introduce new DR-3iB/6 STAINL...

                            Category                        Company  \
0   Sales, Marketing & Advertisement     Anheuser-Busch InBev NV/SA
1   Sales, Marketing & Advertisement                    Walmart Inc
2                 Business Expansion                   Decathlon SA
3                 Economy & Industry  Sustainable Apparel Coalition
4  Development, Launch & Termination             FANUC America Corp

         Country            Keyword  Ticker Symbol  Price Moment  Beta  \
0  United States  consumer backlash            NaN           NaN   NaN
1  United States  consumer backlash            NaN           NaN   NaN
2    Netherlands  consumer backlash            NaN           NaN   NaN
3  United States  consumer backlash            NaN           NaN   NaN
4  United States  consumer backlash            NaN           NaN   NaN

   Company Cap
0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
        Date                                           Headline  \
0  22-Dec-20  TCE and Coastal Bend Groups oppose Phillips 66...
1  31-Jul-20  Hong Kong revokes ban on restaurant dining aft...
2  18-Dec-19  Canada's Largest Lab Tests Firm Admits Paying ...
3  23-Jul-19  Macy’s removes ‘portion control’ plates from s...
4  23-Aug-18               Nike shops close in SA over comments

               Category                   Company        Country  \
0                 Legal   Trafigura Group Pte Ltd  United States
1    Economy & Industry                       NaN      Hong Kong
2                   NaN              LifeLabs Inc         Canada
3     Operations Update                Macy's Inc  United States
4  Business Contraction                  NIKE Inc   South Africa

         Keyword
0  Public outcry
1  Public outcry
2  Public outcry
3  Public outcry
4  Public outcry

In [4]:
#removing NAN
pdf = Positive.dropna(subset=['Company'], inplace = False)
ndf = Negative.dropna(subset=['Company'], inplace = False)

ndf.head(-1)

,Date,Headline,Category,Company,Country,Keyword
0,22-Dec-20,TCE and Coastal Bend Groups oppose Phillips 66...,Legal,Trafigura Group Pte Ltd,United States,Public outcry
2,18-Dec-19,Canada's Largest Lab Tests Firm Admits Paying ...,NaN,LifeLabs Inc,Canada,Public outcry
3,23-Jul-19,Macy’s removes ‘portion control’ plates from s...,Operations Update,Macy's Inc,United States,Public outcry
4,23-Aug-18,Nike shops close in SA over comments,Business Contraction,NIKE Inc,South Africa,Public outcry
5,01-Jul-16,Peruvian Government Fines Petroperu $3.5 Milli...,Operations Update,Petroleos del Peru - PETROPERU SA,Peru,Public outcry
...,...,...,...,...,...,...
156,06-Aug-20,Cardtronics announces second quarter 2020 results,Financial Announcements,Cardtronics plc,United States,Brand fallout
157,05-Aug-20,Tom Group reports interim results for the six ...,Financial Announcements,Tom Group Ltd,Hong Kong,Brand fallout
158,13-May-20,Nissan planning big cost cuts - report,Operations Update,Nissan Motor Co Ltd,Japan,Brand fallout
159,24-Apr-20,Sycamore and L Brands in dispute over stalled ...,Strategic Actions,Sycamore Partners,United States,Brand fallout
160,07-Apr-20,PVH Corp redeploying and repurposing inventories,Operations Update,PVH Corp,United States,Brand fallout

In [22]:
#creating new columns to represent positive/negative
pdf.loc[:, 'Type'] = 1
ndf.loc[:, 'Type'] = 0

#adding the dataframes together 
df = pd.concat([pdf,ndf], axis = 0, ignore_index = True)

#re-check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           400 non-null    object
 1   Headline       400 non-null    object
 2   Category       395 non-null    object
 3   Company        400 non-null    object
 4   Country        396 non-null    object
 5   Keyword        400 non-null    object
 6   Ticker Symbol  0 non-null      float64
 7   Price Moment   0 non-null      float64
 8   Beta           0 non-null      float64
 9   Company Cap    0 non-null      float64
 10  Type           400 non-null    int64
dtypes: float64(4), int64(1), object(6)
memory usage: 34.5+ KB

C:\Users\anaav\AppData\Local\Temp\ipykernel_20312\3597103896.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pdf.loc[:, 'Type'] = 1
C:\Users\anaav\AppData\Local\Temp\ipykernel_20312\3597103896.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ndf.loc[:, 'Type'] = 0

In [32]:
#checking the entries
df.head(5)
df.tail(5)

,Date,Headline,Category,Company,Country,Keyword,Ticker Symbol,Price Moment,Beta,Company Cap,Type
395,05-Aug-20,Tom Group reports interim results for the six ...,Financial Announcements,Tom Group Ltd,Hong Kong,Brand fallout,NaN,NaN,NaN,NaN,0
396,13-May-20,Nissan planning big cost cuts - report,Operations Update,Nissan Motor Co Ltd,Japan,Brand fallout,NaN,NaN,NaN,NaN,0
397,24-Apr-20,Sycamore and L Brands in dispute over stalled ...,Strategic Actions,Sycamore Partners,United States,Brand fallout,NaN,NaN,NaN,NaN,0
398,07-Apr-20,PVH Corp redeploying and repurposing inventories,Operations Update,PVH Corp,United States,Brand fallout,NaN,NaN,NaN,NaN,0
399,04-Dec-19,More store closures planned as Quiz H1 profits...,Financial Announcements,Quiz PLC,United Kingdom,Brand fallout,NaN,NaN,NaN,NaN,0

In [34]:
#setting directory
Out = "C:\Study\Finance\IIMV Intern\\"

#copying req column
Companies = df['Company'].copy()

#saving files
output = os.path.join(Out, 'companies.csv')
Companies.to_csv(output, index = False)